<!-- Validation failure messages -->
<% if @bookmark.errors.any? %>
  <% @bookmark.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Bookmark</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_bookmark" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->

        <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for movie_id -->
      <div class="form-group">
        <label for="movie_id" class="control-label">
          Movie
        </label>

        <%= select_tag("movie_id", options_from_collection_for_select(Movie.all, :id, :title), :class => "form_control") %>
      </div>

      <button class="btn btn-success">
        Create Bookmark
      </button>
      or
      <a href="/bookmarks">Cancel</a>
    </form>
  </div>
</div>
